@import 'src/style/colors';
@import 'src/style/mobile';

.home-content {
    margin-top: 65px;

    padding-top: 50px;
    padding-bottom: 50px;

    // background-color: $gray-lighter;
    background-color: $orange;
    color: white;

    h1 {
        color: white;
        margin-top: 0px;
    }

    strong {
        color: white;
    }


    .divider {
        background-color: white;
    }


    

    .demo-request-content {
        button {
            text-transform: uppercase;
            background-color: $gray-lighter;
            color: white;
            border-radius: 2px;

            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 6px;
        }
    }

    .sub-descr-content {
        min-height: 25px;
        margin-top: 25px;

        .sub-descr {
            font-size: 13px;
        }
    }


}

.home-img-content {
    p {
        width: 500px;
        margin-left: calc((100vw - 500px) /2);
        position: absolute;
        text-align: center;
        margin-top: -28vw;
        font-size: 45px;
    }

    // http://andyshora.com/css-image-container-padding-hack.html
    .home-img-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: #{((740 / 1366) *100%)}; // img is: 1366x970
        //border: 2px solid red;
        background-color: $gray-lighter;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            filter: blur(4px);

            &.loaded {
                filter: blur(0);
            }
        }
    }

    .home-img-loader {
        position: absolute;
        top: calc(50vh - 20px);
        margin-left: calc(50vw - 26px);
    }
}




#services {

    margin-top: 80px;

    .uk-padding {
        padding: 15px;
    }

    .section-content {
        margin-left: 0px;
    }
    

    .col {
        text-align: center;
        cursor: pointer;

        &:hover {
            img, svg {
                transform: scale(1.2);
            }
        }


        img, svg {
            width: 20%;
            margin: auto;
            display: block;
            transition: transform .2s;

            &:focus {
                outline: 0;
            }
            
        }
    }

    .scroll-down-content {
        button {
            margin: auto;
            display: block;
            &:focus {
                outline: 0;
            }
        }
        img, svg {
            width: 40px;
            margin: auto;
            display: block;
            margin-top: 70px;
        }
    }

    .service-subtitle {
        margin-top: -15px;
        font-size: 13px;
    }
}



#provisioning {
    // height: -webkit-fill-available;
    // background-repeat: no-repeat, repeat;
    // background-image: url('/assets/sections/field_easyprovisioning.svg');
    height: 100%;
    
    padding: 100px 25px 60px;
    
    .section-content {
        .title {
            text-align: left;
        }

        .descr {
            text-align: justify;
        }

        

        .cloud-img-wrapper {
            
            width: calc(100% - 40px);
            height: 0;
            margin-top: 100px;
            margin-left: 50px;
            padding-bottom: #{((122 / 300) *100%)};
            position: relative;

            img {
                width: 100%;
                position: absolute;
            }
        }
    }

    
    
    .more-content {
        button {
            margin: auto;
            display: block;
        }
        padding-bottom: 80px;
    }

    
}



#provisioning-provisioning {
    .title {
        text-align: left;
    }

    button {
        margin-top: 25px;
    }
}


#provisioning-ip {

    .title {
        text-align: left;
    }
}

#provisioning-monitoring {

    // padding-left: 100px;
    // padding-right: 100px;
    // padding-top: 5%;
    // padding-bottom: 10%;

    .title {
        text-align: left;
    }
}


#provisioning-video {
    margin-top: 0;
    
}



#provisioning-customer {
    // padding-left: 100px;
    // padding-right: 100px;
    // padding-top: 5%;
    // padding-bottom: 5%;    


    .title {
        text-align: left;
    }

    button {
        margin-top: 25px;
    }
}



#geo-module {
    .title {
        text-align: left;
    }

    button {
        margin-top: 25px;
    }

    iframe {
        height: 290px;
    }
}

#ticket-module {
    .title {
        text-align: left;
    }

    button {
        margin-top: 25px;
    }
}



video {
    width: 100%;
    max-height: 65vh;
    
}



ul.feature-list {
    list-style-type: square;
    color: $orange;
    font-size: 20px;
    padding-left: 20px;
    span {
        color: $gray-dark;
    }
    // li::before {content: "•"; color: $orange}
}



.beta-tab {
    color: #e85d00;
    background: transparent;
    border: 1px solid #e85d00;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: absolute;
    margin-top: -17px;
    margin-left: 26px;
}


$play-btn-color: $gray-dark;
.play-btn {
  background-color: transparent;
  flex: 1 1 auto;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid $play-btn-color;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  color: $play-btn-color;
  font-weight: bold;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $orange;
  }
  
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }

  &:focus {
      outline: 0;
  }
}

section {
    
    &.showVideo {
        margin-top: 0 !important;
        padding-top: 0 !important;

        -webkit-clip-path: none !important;
        clip-path: none !important;
    }

    &.parent-showVideo {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}


#about-us {
    padding-top: 25px;

    .col {
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .section-content {
        padding: 50px;
        padding-bottom: 10px;

        .col {
            padding: 50px;
            padding-bottom: 10px;
        }

        .img-col {
   
            .img-wrapper {
                width: 100%;
                height: 0;
                padding-bottom: #{((150 / 150) *100%)};
                position: relative;
                max-height: 350px;
                img {
                    width: 100%;
                    max-height: 350px;
                    position: absolute;
                }
            }
            
        }
    
        .who-we-are {
            .title {
                text-align: left;
            }

            .descr {
                text-align: justify;
            }
        }
    }


    .features {
        padding: 50px;
        padding-top: 0;

        .feature {
            padding: 25px;
            text-align: justify;
            ngui-in-view {
                height: 48px;
            }
            img {
                height: 48px;
            }
            
            .feature-title {

            }

            .feature-descr {
                text-align: justify;
            }
        } 
    }
    
}




#team {
    padding: 260px 25px 260px;
    
    ngui-in-view {
        height: 250px;
    }
    
    .hexagon {
        position: relative;
        background: white;
        height: 250px;

        padding: 4px;
        transition: transform .2s;

        &.selected {
            transform: scale(1.3);
        }
    }


    .hexagon, .hexagon:before, .double:after {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    /* Just for demo */

    .hexagon {
        display: inline-block;
        margin: -2px;
    }

    .vl {
        border-left: 6px solid white;
        height: 55px;
        margin: auto;
        display: block;
        width: 0px;
        margin-top: -5px;
    }

    .hl {
        border-top: 6px solid white;
        width: 100%;
        margin-top: -290px;
        margin-left: 50%;
    }

    .person-title {
        span.active {
            color: $gray-light;
        }
    }

    .skills-content {
        margin-top: 60px;

        .skills-title {
            text-align: center;
            font-size: 18px;
            .isPerson {
                color: $gray-light;
            }
        }

        .progressBar {
            margin-bottom: 26px;
            margin-bottom: 1.66em;
        }
        .progressBar p {
            font-size: 16px;
            text-transform: none;
            margin-bottom: 7px;
            margin-bottom: .33em;
            position: absolute;
            margin-top: 7px;
            margin-left: 10px;
            color: white;
        }
        .progressBarcontent-container {
            width: 100%;
            height: 35px;
            background: $gray-lighter;
            overflow: hidden;
        }
        .progressBarValue {
            height: 35px;
            float: left;
            background: $gray-light;
        }
        .value-00 {
            width: 0;
        }
        .value-10 {
            width: 10%;
        }
        .value-20 {
            width: 20%;
        }
        .value-30 {
            width: 30%;
        }
        .value-40 {
            width: 40%;
        }
        .value-50 {
            width: 50%;
        }
        .value-60 {
            width: 60%;
        }
        .value-70 {
            width: 70%;
        }
        .value-80 {
            width: 80%;
        }
        .value-90 {
            width: 90%;
        }
        .value-100 {
            width: 100%;
        }
    }
}


#news {
    padding-top: 45px;
    padding-bottom: 45px;

    .uk-container-expand {
        max-width: 1920px;
    }

    .title {
        // margin-top: 45px;
    }

    .news-text {
        margin-top: 27px;
        font-size: 13px;
    }

    .news-slider {
        margin-top: 40px;

        .uk-slider-container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .post-panel {
            // background-color: white;
            // margin: 15px;
            // padding: 15px;


            margin-top: 20px;
            margin-bottom: 20px;


            .uk-card-body {
                padding: 15px;
            }


            .bottom-container {
                font-size: 13px;
                line-height: 20px;

                height: 20px;
                margin-bottom: -5px;
                display: inherit;

                .date {
                    float: left;
                }

                .fb {
                    float: right;
                    i {
                        margin-right: 5px;
                    }

                    a {
                        color: #666;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    


    .image-dots {
        display: -webkit-inline-box;
        margin-top: 10px;
        margin-left: 0px;
        cursor: pointer;
    
        float: right;
    
        .img-dot {
            width: 10px;
            height: 10px;
            background-color: $gray-dark;
            opacity: 0.2;
            border-radius: 10px;
            margin-right: 10px;
    
            &.active {
                opacity: 1.0;
                background-color: $gray-dark;
            }
        }
    }
}

#events {

    .event-content {
        padding-top: 40px;

        .title {
            text-align: left;
            font-size: 24px;
            padding-left: 25px;
        }

        .section-content {
            padding-top: 0px;
            margin-top: -20px;

            &.canceled {
                opacity: 0.2;
            }
        }

        img {
            max-width: 280px;
        }

        .descr {
            text-align: justify;
        }

        .more-content {
            margin-top: 25px;
        }
    }
    
}

#partner {
    padding-bottom: 80px;


    img {
        filter: grayscale(100%);
        cursor: pointer;

        &:hover {
            filter: none;
        }
    }

    .uk-slider-container {
        margin-top: 80px;

        ul.uk-slider-items {
            height: 100px;
            li {
                padding-top: 10px;
                width: 20%;
            }
        } 

        img {
            padding-right: 60px;
            position: absolute;
            margin: auto;
            cursor: pointer;
            
            // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            // filter: grayscale(100%);
        }

        a {
            color: $gray-dark !important;
        }
    }
}



#contact {
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: $gray-lighter;
    height: 393px;
    min-height: 50vh;
    margin-bottom: 0;

    .contact-content {
        text-align: left;
        line-height: 3px;

        .head-office-title {
            color: $orange;
        }

        .office-address, .office-contact {
            margin-top: 40px;
            font-size: 16px;
        }
        
    }

    app-company-location-map {
        position: absolute;
        right: 0px;
        width: calc(50% - 60px);
        margin-top: -165px;
    }
}

#provisioning-title {
    z-index: 1;
    position: relative;
    // margin-top: -130px;
    // .title {
    //     color: $orange;
    //     font-size: 45px;
    //     text-align: center;
    // }

    .provisioning-icon {
        height: 125px;
        margin: auto;
        display: block;
    }

    .provisioning-subtitle {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    .provisioning-subtext {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }
}

.youtube-container {

    // margin-top: -130px;

    .title {
        color: $orange;
        font-size: 45px;
        text-align: center;
    }

    .provisioning-icon {
        height: 125px;
        margin: auto;
        display: block;
    }

    .provisioning-subtitle {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    .provisioning-subtext {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
    }

    .more-content {
        button {
            display: flex;
            margin: auto;
            margin-top: 15px;
        }
    }
}


#provisioning-overview {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
   
    .col {
        padding: 100px;
    }
    .cloud-img-wrapper {
            
        width: calc(100% - 40px);
        height: 0;
        margin-top: 100px;
        margin-left: 50px;
        padding-bottom: #{((122 / 300) *100%)};
        position: relative;

        img {
            width: 100%;
            position: absolute;
        }
    }

    // img {
    //     padding: 100px;
    //     //background-color: rgba(0,0,0,0.1);
    //     background-color: transparent;
    // }
}

@media screen and (max-width: $mobile-break-point) { 

    .home-content {
        margin-top: 0;
    }
    
    .home-img-content {
        img {
            width: 100%;
        }
        p {
            width: 200px;
            margin-left: calc((100vw - 200px) /2);
            position: absolute;
            text-align: center;
            margin-top: -28vw;
            font-size: 20px;
        }
        
    }

    .home-img-loader {
        top: 80px !important;
    }

    #services { 
        .section-content {

            img, svg {
                width: 25% !important;
            }
        }
        
    }
    #provisioning {
        padding-top: 100px;

        .section-content {
            display: block;

            .cloud-img-wrapper {
                width: 100%;
                margin-left: 0px;
            }

            img {
                display: block;
                width: 100%;
                margin: auto;
            }

            .cloud-col {
                //height: 220px;
                width: 100%;
            }
        }

        .more-content {
            padding-bottom: 20px;
        }
    }

    #provisioning-overview {
        padding: 10px;

        .col {
            padding: 20px;
        }

        .cloud-img-wrapper {
            margin: 0;
            width: 100%;
        } 

        img {
            padding: 0;
        }
    }

    #team {
        padding: 40px;
    
    
        .vl {
            display: none;
        }
    
        .hl {
            display: none;
        }

        .skills-content {
            display: none;
        }
    
        .person-title {
            span.active {
                color: $gray-light;
            }
        }
    
    }


    #partner {
        .uk-position-relative {
            width: 80%;
            margin-left: 10%;

            // li {
            //     width: 100px;
            //     height: auto;
            // }
        }

        .uk-slider-container {
            margin-top: 80px;
    
            ul.uk-slider-items {
                height: 120px;
                li {
                    padding-top: 30px;
                    width: 33%;
                }
            }
        }

        img {
            max-width: 60vw;
            height: 45px;
        }
    }

    #news {
        max-width: 100vw;
        overflow: hidden;
    }
}



.pulsing
{
     animation: shadow-pulse 1.5s infinite;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}
